@* @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor *@

<nav style="background-color:royalblue;height:37%;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-start text-white" style="margin-left:20px">
            <span>Bienvenido, @User.Identity.Name </span>
        </div>
    }

    <div class="align-text-top text-center text-white"><span style="font-size:25px;font-family:'Arial', 'Trebuchet MS', sans-serif; margin-left:15px">Colegio Parroquial San Francisco Javier</span><br />
        <span style="font-size:20px; font-family:'Arial', 'Trebuchet MS', sans-serif;margin-left:15px">”En Todo Amar y Servir”</span>
       
    
    <div class="text-start text-white" style="">
        <img src="~/image/colegiosanfrancisco.png" style="width:8%;margin-left:40px;" />
        <img src="~/image/SanFrancisco.png" style="width:28%;margin-left:58%;"/>
    </div>
    </div>
    
</nav>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" icon="~/unpggl.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - WebColegio</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebColegio.styles.css" asp-append-version="true" />

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables con estilo Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />

    <!-- Opcional: Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">




</head>
<body id="page-top">
    @{
        int rol = 0;
        var usrol = 0;
        int variable = 1;
    }
    <div class="d-flex" style="min-height: 150vh;">
        <nav class="text-blue bg-success p-3" id="sidebar" style="width:200px;">
            @* <div class="container-fluid mt-1" style="width:125px;margin-left:1px">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Inicio</a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
*@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav sidebar sidebar-dark accordion text-black" id="accordionSidebar" style="background-color: mediumseagreen;width:180px;">

                    <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLogin"
                           aria-expanded="false" aria-controls="collapseLogin">
                                <i class="bi bi-person-lock"></i> Login
                            </a>
                            <div id="collapseLogin" class="collapse">

                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                                    <a class="collapse-item" asp-controller="Login" asp-action="Logout"> Cerrar Sesión</a>

                                </div>
                            </div>
                        </li>                       
                    
                    
                    @if (User.Identity.IsAuthenticated)
                    {

                        <!-- Menú Principal -->
                        @* <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Alumnos" asp-action="Index"> *@
                        @* <div class="sidebar-brand-text mx-3">Menú</div> *@
                        @* </a> *@
                        @if (User.IsInRole("Direcctor") || User.IsInRole("Admin"))
                        {
                            <!-- Alumnos -->
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAlumnos"
                                aria-expanded="false" aria-controls="collapseAlumnos">
                                    <i class="bi bi-mortarboard-fill"></i>
                                    <span>Alumnos</span>
                                </a>
                                <div id="collapseAlumnos" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item"  asp-controller="Alumnos" asp-action="Index">Lista de Alumnos</a>
                                        <a class="collapse-item" asp-controller="Alumnos" asp-action="Create">Agregar Alumno</a>
                                    </div>
                                </div>
                            </li>
                        }
                        <!-- Notas -->
                        @if (User.IsInRole("Docente") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseNotas"
                                aria-expanded="false" aria-controls="collapseNotas">
                                    <i class="bi bi-pencil-square"></i>
                                    <span>Notas</span>
                                </a>
                                <div id="collapseNotas" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="Notas" asp-action="Index"> Lista de Nota</a>
                                        <a class="collapse-item" asp-controller="Notas" asp-action="Create">Agregar  Notas</a>
                                        @* <a class="collapse-item" asp-controller="Notas" asp-action="Edit">  Editar</a> *@
                                        @* <a class="collapse-item" asp-controller="PeriodoEvaluacion" asp-action="Create">  Período de Evaluación</a> *@
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("") || User.IsInRole("Admin") || User.IsInRole("Secretaria"))
                        {
                            <!-- Facturación -->
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRecibos"
                                aria-expanded="false" aria-controls="collapseRecibos">
                                    <i class="bi bi-stickies"></i>
                                    <span>Recibo</span>
                                </a>
                                <div id="collapseRecibos" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="ReciboCaja" asp-action="Index">Lista de Recibos</a>
                                        @* <a class="collapse-item" asp-controller="ReciboCaja" asp-action="Create">Agregar Recibo</a> *@
                                        <a class="collapse-item" asp-controller="ReciboCaja" asp-route-fecha="@DateTime.Now.ToString("yyyy-MM-dd")" asp-action="ArqueoCaja">Ver Arqueo</a>
                                        @* <a class="collapse-item" asp-controller="ReciboCaja" asp-action="Create">Recibo Egreso</a> *@

                                    </div>
                                </div>
                            </li>
                            <!-- Inventario -->
                            @* <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario"
                                aria-expanded="false" aria-controls="collapseInventario">
                                    <i class="bi bi-clipboard-check"></i>
                                    <span>Inventario</span>
                                </a>
                                <div id="collapseInventario" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="Inventario" asp-action="Index">Lista de Inventario</a>
                                        <a class="collapse-item" asp-controller="Inventario" asp-action="Create">Agregar Inventario</a>


                                    </div>
                                </div>
                            </li> *@
                        }
                        <!-- productos -->
                        @if (User.IsInRole("Secretaria") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProducto"
                                aria-expanded="false" aria-controls="collapseProducto">
                                    <i class="bi bi-clipboard-check"></i>
                                    <span>Inventario</span>
                                </a>
                                <div id="collapseProducto" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="Productos" asp-action="Index">Lista del Inventario</a>
                                        <a class="collapse-item" asp-controller="Productos" asp-action="Create">Agregar Inventario</a>
                                        @* <a class="collapse-item" asp-controller="Login" asp-action="Login">Sesión</a> *@

                                    </div>
                                </div>
                            </li>
                        }
                        <!-- pagos -->
                        @if (User.IsInRole("Cajero") || User.IsInRole("Admin"))
                        {
                        <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePago"
                               aria-expanded="false" aria-controls="collapsePago">
                                <i class="bi bi-cash-coin"></i>
                                <span>Pagos</span>
                            </a>
                            <div id="collapsePago" class="collapse">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-controller="Pagos" asp-action="Index">Lista de Pagos</a>
                                    <a class="collapse-item" asp-controller="Pagos" asp-action="Create">Agregar Pago</a>
                                    <a class="collapse-item" asp-controller="Pagos" asp-action="EstadoCuenta">Estado de Cuenta</a>

                                </div>
                            </div>
                        </li>
                    }
                        @if (User.IsInRole("Cajero") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="background:white;margin-left:10px;margin-right:10px">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePagoCaja"
                                   aria-expanded="false" aria-controls="collapsePagoCaja">
                                    <i class="bi bi-cash-coin"></i>
                                    <span>Caja</span>
                                </a>
                                <div id="collapsePagoCaja" class="collapse">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="Index">Lista de Pago Caja</a>
                                        <a class="collapse-item" asp-controller="ReciboEgreso" asp-action="Index">Lista Egreso</a>
                                        <a class="collapse-item" asp-controller="PagoCaja" asp-action="Create">Agregar Pago</a>                                        
                                        <a class="collapse-item" asp-controller="ReciboEgreso" asp-action="Create">Agregar Egreso</a>
                                        <a class="collapse-item" asp-controller="Pagos" asp-action="EstadoCuenta">Estado de Cuenta</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    </ul>
                </div>
            @* </div> *@
        </nav>


        <div class="container flex-grow-1 p-4" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div><br />
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-dark">
        <div class="container my-auto">
            <div class="copyright text-center my-auto text-light">
                <span> ¡Fe, Ciencia, Patria Iglesia ¡</span>
                <hr />
                <span>Copyright &copy;2025 Colegio San Francisco Javier</span> 

            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- End of Content Wrapper -->
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Estas Seguro Que quieres cerrar la sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" asp-controller="Login" asp-action="CerrarSesion">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
  


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)


	
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- DataTables con Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />

    <!-- Bootstrap Icons (opcional) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- jQuery -->
    <!-- En _Layout.cshtml -->
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables + Extensiones -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <!-- Exportación (JSZip / pdfmake) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>


</body>

</html>
<style>
    .collapse-item {
        text-decoration: none; /* quita subrayado */
        display: block;
        padding: 6px 12px;
    }

        .collapse-item:hover {
            background-color: darkgray;
            color: #000;
            text-decoration: none; /* asegura que no vuelva */
        }

    .nav-link:hover {
        background-color: yellow;
        color: #000;
        text-decoration: none;
    }
  
</style>