@model WebColegio.Models.ViewModel.ReciboCajaViewModel
@* 
@{
    ViewData["Title"] = "Create";
} *@

<div class="container mt-6">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi bi-coin"></i> Recibo de Caja</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        @*  <div class="form-group">
                        <label asp-for="IdFactura" class="control-label"></label>
                        <input asp-for="IdFactura" class="form-control" />
                        <span asp-validation-for="IdFactura" class="text-danger"></span>
                    </div> *@
                        <div class="form-group">
                            <label asp-for="ReciboCaja.NumeroRecibo" class="control-label">Número de Recibo</label>
                            @{
                                var maxNumero = Model.reciboCajas?.Where(r => r.Serie == "A").Max(r => (int?)r.NumeroRecibo);
                                var siguienteNumero = maxNumero.HasValue ? maxNumero.Value + 1 : 10001;
                            }

                            <input asp-for="ReciboCaja.NumeroRecibo" value="@siguienteNumero" class="form-control" readonly />
                            <span asp-validation-for="ReciboCaja.NumeroRecibo" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="ReciboCaja.RecibeDe">Recibi De</label>
                            <input type="text" id="AlumnoNombre" name="ReciboCaja.RecibeDe" class="form-control" placeholder="Buscar alumno..." />
                            <input type="hidden" id="IdAlumno" name="" />
                        </div>
                        
                        
                            <div class="form-group">

                                <label asp-for="ReciboCaja.IdGrado" class="control-label">Nivel</label>
                                <select asp-for="ReciboCaja.IdGrado" asp-items="Model.gradosSelectListItem" class="form-select" required>
                                    <option disabled selected>Seleccione el Nivel</option>
                                </select>
                                <span asp-validation-for="ReciboCaja.IdGrado" class="text-danger"></span>
                            </div>

                       
                       
                        <div class="form-group">
                            <label asp-for="ReciboCaja.Monto" class="control-label">La Cantidad de:</label>
                            <input  asp-for="ReciboCaja.Monto"  class="form-control" />
                            <span asp-validation-for="ReciboCaja.Monto" class="text-danger"></span>
                        </div>
                        

                    </div>
                    <div class="col-md-4">

                <div class="form-group">
                        <label asp-for="ReciboCaja.Serie" class="control-label">Serie del recibo</label>
                        <input asp-for="ReciboCaja.Serie" value="A" class="form-control" readonly />

                    </div>

                        <div class="form-group">
                            <label asp-for="ReciboCaja.TipoMovimiento" class="control-label">Tipo de Movimiento</label>
                            <input asp-for="ReciboCaja.TipoMovimiento" class="form-control" />
                            @* <span asp-validation-for="ReciboCaja.TipoMovimiento" class="text-danger"></span> *@
                        </div>

                        <div class="form-group">
                            <label asp-for="ReciboCaja.Concepto" class="control-label">En Concepto de</label>
                            <input asp-for="ReciboCaja.Concepto" class="form-control" />
                            <span asp-validation-for="ReciboCaja.Concepto" class="text-danger"></span>
                        </div>

                <div class="form-group">
                        <label asp-for="ReciboCaja.FechaRegistro" class="control-label">Fecha de Registro</label>
                        <input type="date" asp-for="ReciboCaja.FechaRegistro" id="FechaNacimiento" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" class="form-control" />
                        <span asp-validation-for="ReciboCaja.FechaRegistro" class="text-danger"></span>
                    </div>
                </div>
                </div>
                <br />

                <!-- Botones -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <script src="~/seewtalert/sweetalert.all.min.js"></script>
    <script src="~/seewtalert/sweetalertstyle.js"></script>
    <link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" />

    <script>
        $("#AlumnoNombre").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://localhost:7008/api/Alumnos/buscar",
                    data: { q: request.term },
                    success: function (data) {
                         console.log("Respuesta API:", data); // 👈 debug
                        response($.map(data, function (item) {
                            return {
                                label: item.nombreCompleto,
                                value: item.nombreCompleto,
                                id: item.id
                            };
                        }));
                    }
                });
            },
            minLength: 2, // empieza a buscar desde 2 letras
            select: function (event, ui) {
                $("#IdAlumno").val(ui.item.nombreCompleto); // Guardamos el ID del alumno
            }
        });




               function msg(mensaje){
                   swal.fire({
                           title:'Warning',
                           text: mensaje,
                           icon: 'warning',
                           showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar' // corregido el error tipográfico
                       });}

               function msgconfirm(mensaje) {
                    Swal.fire({
                        title: 'Información',
                        text: mensaje,
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar'
                    });
                }



    </script>

    @if (TempData["Mensaje"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                   Swal.fire({
                           title: '@(TempData["Tipo"]?.ToString() == "info" ? "Información" : "Warning")',
                       text: '@TempData["Mensaje"]',
                           icon: '@(TempData["Tipo"]?.ToString() == "info" ? "info" : "warning")',
                       confirmButtonText: 'Aceptar'
                   });
            });
        </script>
    }
}