@model WebColegio.Models.ViewModel.AlumnosViewModel

@* @{
    ViewData["Title"] = "Create";
    
    Layout = "~/Views/Shared/_Layout.cshtml";

} *@
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

<div class="container mt-6" style="padding:50px;">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi bi-person-plus"></i> Registro del Estudiante</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data" class="row g-3">
             <div class="row">
                 <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <label asp-for="alumnos.CodigoAlumno" class="control-label">Código del Estudiante</label>
                            <input asp-for="alumnos.CodigoAlumno" value="@Model.codigoestudiante" class="form-control" readonly />
                            
                        </div>
                        <div class="col-md-6">
                            <label asp-for="alumnos.CodigoMINED" class="control-label">Código MINED</label>
                            <input asp-for="alumnos.CodigoMINED" class="form-control" oninput="capitalizeWords(this)" placeholder="Ingrese el código MINED" />
                            <span validation-for="alumnos.CodigoMINED" class="text-danger"></span>
                        </div>
             <div class="col-md-6">
                  <label asp-for="alumnos.Nombre" class="control-label">Nombre</label>
                  <input asp-for="alumnos.Nombre" id="Nombre" class="form-control" oninput="capitalizeWords(this)" placeholder="Ingrese el Nombre del Alumno" />
                  <span validation-for="alumnos.Nombre" class="text-danger"></span>
            </div>
                        <div class="col-md-6">
                 <label asp-for="alumnos.Apellido" class="control-label">Apellido</label>
                 <input asp-for="alumnos.Apellido" id="Apellido" class="form-control" oninput="capitalizeWords(this)" placeholder="Ingrese el Apellido del Alumno" />
                 <span asp-validation-for="alumnos.Apellido" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                  <label asp-for="alumnos.FechaNacimiento" class="control-label">Fecha de Nacimimento</label>
                   <input type="date" asp-for="alumnos.FechaNacimiento" id="FechaNacimiento" pattern="\d{2}/\d{2}/\d{4}" placeholder="dd/mm/yyyy" class="form-control" />
                   <span asp-validation-for="alumnos.FechaNacimiento" class="text-danger"></span>
            </div>
             <div class="col-md-2">
                  <label asp-for="alumnos.Edad" class="control-label">Edad</label>
                 <input asp-for="alumnos.Edad" id="Edad" class="form-control" readonly />
                <span asp-validation-for="alumnos.Edad" class="text-danger"></span>
            </div>

            <div class="col-auto">
             <label asp-for="alumnos.Cedula" class="">Cedula</label>
             <input type="text" id="cedula" class="form-control" asp-for="alumnos.Cedula" placeholder="Cedula" maxlength="16" />

            </div>

            <div class="form-group">
                <label asp-for="alumnos.IdSexo" class="control-label">Sexo</label>
                            <select asp-for="alumnos.IdSexo" asp-items="Model.sexosSelectListItem" class="form-select" required>
                                <option disabled selected>Seleccione el Sexo</option>
                            </select>

                            <span asp-validation-for="alumnos.IdSexo" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="alumnos.IdGrupo" class="control-label">Grupo</label>
                            <select asp-for="alumnos.IdGrupo" asp-items="Model.gruposSelectListItem" class="form-select" required>
                                <option disabled selected>Seleccione el Grupo</option>
                            </select>

                            <span asp-validation-for="alumnos.IdGrupo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="alumnos.IdGrado" class="control-label">Grado</label>
                            <select asp-for="alumnos.IdGrado" asp-items="Model.gradosSelectListItem" class="form-select" required>
                                <option disabled selected>Seleccione el Grado</option>
                            </select>

                            <span asp-validation-for="alumnos.IdGrado" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <label asp-for="alumnos.IdTurno" class="control-label">Turno</label>
                <select asp-for="alumnos.IdTurno" asp-items="Model.turnosSelectListItem" class="form-select" required>
                 <option disabled selected>Seleccione el Turno</option>
                </select>

              <span asp-validation-for="alumnos.IdTurno" class="text-danger"></span>
            </div>
                        <div class="form-group">
                            <label asp-for="alumnos.IdModalidad" class="control-label">Modalidad</label>
                            <select asp-for="alumnos.IdModalidad" asp-items="Model.modalidadesSelectListItem" class="form-select" required>
                                <option disabled selected>Seleccione la Modalidad</option>
                            </select>
                            <span asp-validation-for="alumnos.IdModalidad" class="text-danger"></span>
                        </div>
                </div>
                <div class="col-md-6">

            
                
            <div class="form-group">
                <label asp-for="alumnos.IdRecinto" class="control-label">Recinto</label>
                  <select asp-for="alumnos.IdRecinto" asp-items="Model.recintosSelectListItem" class="form-select" required>
                   <option disabled selected>Seleccione el Recinto</option>
                  </select>
                 <span asp-validation-for="alumnos.IdRecinto" class="text-danger"></span>
            </div>
			@* < div class="form-group">
                <label asp-for="IdGrupo" class="control-label"></label>
                <input asp-for="IdGrupo" class="form-control" />
                <span asp-validation-for="IdGrupo" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="alumnos.Direccion" class="control-label">Direccion</label>
                <input asp-for="alumnos.Direccion" class="form-control" />
                <span asp-validation-for="alumnos.Direccion" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="alumnos.Telefono" class="control-label">Teléfono</label>
                <input asp-for="alumnos.Telefono" class="form-control" />
                <span asp-validation-for="alumnos.Telefono" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="alumnos.NombreMadre" class="control-label">Nombre de la Madre</label>
                 <input asp-for="alumnos.NombreMadre" class="form-control" />
                 <span asp-validation-for="alumnos.NombreMadre" class="text-danger"></span> 
            </div>
            <div class="form-group">
                            <label asp-for="alumnos.NombrePadre" class="control-label">Nombre del Padre</label>
                            <input asp-for="alumnos.NombrePadre" class="form-control" />
                 <span asp-validation-for="alumnos.NombrePadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alumnos.NombreTutor" class="control-label">Nombre Tutor</label>
                            <input asp-for="alumnos.NombreTutor" class="form-control" />
                <span asp-validation-for="alumnos.NombreTutor" class="text-danger"></span> 
            </div>
                        <div class="form-group">
                            <label asp-for="alumnos.CedulaTutor" class="control-label">Cedula del Tutor</label>
                            <input asp-for="alumnos.CedulaTutor" class="form-control" />
                            <span asp-validation-for="alumnos.NombreTutor" class="text-danger"></span> 
                        </div>
                        <div class="form-group">
                            <label asp-for="alumnos.ContactoTutor" class="control-label">Contacto del Tutor</label>
                            <input asp-for="alumnos.ContactoTutor" class="form-control" />
                            <span asp-validation-for="alumnos.ContactoTutor" class="text-danger"></span> 
                        </div>
            <div class="form-group">
                <label asp-for="alumnos.Correo" class="control-label">Correo</label>
                <input asp-for="alumnos.Correo" class="form-control" />
                @* <span asp-validation-for="Correo" class="text-danger"></span> *@
            </div>

                        
                        <div class="form-group">
                            <label asp-for="alumnos.IdDiscapacidad" class="control-label">Discapacidad</label>
                            <select asp-for="alumnos.IdDiscapacidad" asp-items="Model.discapacidadSelectListItem" class="form-select" required>
                                <option disabled selected>Seleccione la Discapacidad</option>
                            </select>
                            <span asp-validation-for="alumnos.IdDiscapacidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="alumnos.Observaciones" class="control-label">Observaciones</label>
                            <textarea asp-for="alumnos.Observaciones" class="form-control" ></textarea>

                        </div>
           
                </div>
            </div>
            <br />
                <!-- Botones -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                </div>

        </form>
        </div>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <script src="~/seewtalert/sweetalert.all.min.js"></script>
    <script src="~/seewtalert/sweetalertstyle.js"></script>
    <link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" />
<script>
        function capitalizeWords(input) {
            input.value = input.value
                .toLowerCase()
                .split(' ')
                .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                .join(' ');
        }
        function calcularEdad(FechaNacimiento) {
        const hoy = new Date();
        const nacimiento = new Date(FechaNacimiento);

        let edad = hoy.getFullYear() - nacimiento.getFullYear();
        const mes = hoy.getMonth() - nacimiento.getMonth();

        if (mes < 0 || (mes === 0 && hoy.getDate() < nacimiento.getDate())) {
            edad--; // Aún no ha cumplido años este año
        }

        return edad;
    }
        function mascara(Cedula) {
            if (valor.match(/^\d{3}$/) !== null) {
                return valor + '-';
            } else if (valor.match(/^\d{3}\-\d{6}$/) !== null) {
                return valor + '-';
            }
            return cadena;
    }

     $(document).ready(function () {
        $("#FechaNacimiento").on("change", function () {
            const fecha = $(this).val();
            const edad = calcularEdad(fecha);
            $("#Edad").val(edad); // ← Aquí se asigna la edad
        });



    });

               function msg(mensaje){
                   swal.fire({
                           title:'Warning',
                           text: mensaje,
                           icon: 'warning',
                           showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar' // corregido el error tipográfico
                       });}

               function msgconfirm(mensaje) {
                    Swal.fire({
                        title: 'Información',
                        text: mensaje,
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar'
                    });
                }



</script>

@if (TempData["Mensaje"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
               Swal.fire({
                       title: '@(TempData["Tipo"]?.ToString() == "info" ? "Información" : "Warning")',
                   text: '@TempData["Mensaje"]',
                       icon: '@(TempData["Tipo"]?.ToString() == "info" ? "info" : "warning")',
                   confirmButtonText: 'Aceptar'
               });
        });
    </script>
}
}