<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\WebColegio.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!-- En el servidor IIS (publicación). En Visual Studio local no usar 443: la API de desarrollo es https://localhost:7008/ -->
          <!-- <environmentVariable name="ApiSettings__BaseUrl" value="http://127.0.0.1/ColSanFranciscoTest_Api/" /> -->
          <!-- <environmentVariable name="ApiSettings__Host" value="colegioparroquialsanfranciscojavier.com" /> -->
          <!-- <environmentVariable name="ApiSettings__AllowInvalidCertificate" value="true" /> -->
        </environmentVariables>
      </aspNetCore>
      <defaultDocument>
        <files>
          <add value="Login.cshtml" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
</configuration>
