<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\WebColegio.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="JWT_SECRET_KEY" value="REEMPLACE_ESTA_CLAVE_JWT_MINIMO_32_CARACTERES" />
          <environmentVariable name="ApiSettings__BaseUrl" value="https://colegioparroquialsanfranciscojavier.com/ColSanFranciscoTest_Api/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
