@model WebColegio.Models.ViewModel.NotasViewModel

@{
    ViewData["Title"] = "Create";
}
@*<div class="content">
     <div class="modal-body">
        <span class="h5 mb-1">Bienvenido: @TempData["nombreusuario"] </span>
    </div> *@




<div class="container mt-6">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi bi-pencil"></i> Registro de Notas</h4>
        </div>
        <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="row">
               <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="notas.IdAlumno">Nombre del Alumno</label>
                                <input type="text" id="AlumnoNombre" class="form-control" placeholder="Buscar alumno..." />
                                <input type="hidden" id="IdAlumno" name="notas.IdAlumno" />
                            </div>
           
                <div class="form-group">
                    <label asp-for="notas.IdModalidad" class="control-label">Modalidad</label>

                            <select asp-for="notas.IdModalidad" asp-items="Model.modalidadSelectListItem" class="form-select" required>
                                        <option disabled selected>Seleccione la Evaluación</option>
                                    </select>
                            <span asp-validation-for="notas.IdModalidad" class="text-danger"></span>
                </div>
            <div class="form-group">
                                <label asp-for="notas.IdGrado" class="control-label">Nivel</label>
                                <select asp-for="notas.IdGrado" asp-items="Model.gradosSelectListItem" class="form-select" required>
                                    <option disabled selected>Seleccione la Evaluación</option>
                                </select>
                                <span asp-validation-for="notas.IdGrado" class="text-danger"></span>
                
            </div>
                    <div class="form-group">
                        <label asp-for="notas.IdAsignatura" class="control-label">Asignatura</label>
                                <select asp-for="notas.IdAsignatura" asp-items="Model.asignaturaSelectListItem" class="form-select" required>
                                    <option disabled selected>Seleccione la Evaluación</option>
                                </select>
                                <span asp-validation-for="notas.IdAsignatura" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Descripcion" class="control-label">Observación</label>
                                <textarea name="Descripcion" class="form-control"> </textarea>
                                @* <span asp-validation-for="Descripcion" class="text-danger"></span> *@
                            </div>
                            </div>
                <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="notas.Acumulado1" class="control-label">Acumulado Primer Corte</label>
                            <input asp-for="notas.Acumulado1" id="acumulado1" class="form-control" />
                            <span asp-validation-for="notas.Acumulado1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.Examen1" class="control-label">Examen Primer Corte</label>
                            <input asp-for="notas.Examen1" id="examen1" class="form-control" />
                            <span asp-validation-for="notas.Examen1" class="text-danger"></span>
                        </div>
            <div class="form-group">
                        <label asp-for="notas.PrimerCorte" class="control-label">Primer Corte</label>
                            <input asp-for="notas.PrimerCorte" id="primerCorte" class="form-control"  />
                                <span asp-validation-for="notas.PrimerCorte" class="text-danger"></span>
            </div>
                        <div class="form-group">
                            <label asp-for="notas.Acumulado2" class="control-label">Acumulado Segundo Corte</label>
                            <input asp-for="notas.Acumulado2" id="acumulado2" class="form-control" />
                            <span asp-validation-for="notas.Acumulado2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.Examen2" class="control-label">Examen Segundo Corte</label>
                            <input asp-for="notas.Examen2" id="examen2" class="form-control" />
                            <span asp-validation-for="notas.Examen2" class="text-danger"></span>
                        </div>
                        
             <div class="form-group">
                                <label asp-for="notas.SegundoCorte" class="control-label">Segundo Corte</label>
                            <input asp-for="notas.SegundoCorte" id="segundoCorte" class="form-control"  />
                                <span asp-validation-for="notas.SegundoCorte" class="text-danger"></span>
            </div>
                        
                    </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="notas.Acumulado3" class="control-label">Acumulado Tercer Corte</label>
                            <input asp-for="notas.Acumulado3" id="acumulado3" class="form-control" />
                            <span asp-validation-for="notas.Acumulado3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.Examen3" class="control-label">Examen Tercer Corte</label>
                            <input asp-for="notas.Examen3" id="examen3" class="form-control" />
                            <span asp-validation-for="notas.Examen3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.TercerCorte" class="control-label">Tercer Corte</label>
                            <input asp-for="notas.TercerCorte" id="tercerCorte" class="form-control"  />
                            <span asp-validation-for="notas.TercerCorte" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.Acumulado4" class="control-label">Acumulado Cuarto Corte</label>
                            <input asp-for="notas.Acumulado4" id="acumulado4" class="form-control" />
                            <span asp-validation-for="notas.Acumulado4" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="notas.Examen4" class="control-label">Examen Cuarto Corte</label>
                            <input asp-for="notas.Examen4" id="examen4" class="form-control" />
                            <span asp-validation-for="notas.Examen4" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                                <label asp-for="notas.CuartoCorte" class="control-label">Cuarto Corte</label>
                            <input asp-for="notas.CuartoCorte" id="cuartoCorte" class="form-control"  />
                                <span asp-validation-for="notas.CuartoCorte" class="text-danger"></span>
                    </div>



                        <div class="form-group">
                            <label asp-for="notas.NotaFinal" class="control-label">Nota Final</label>
                            <input asp-for="notas.NotaFinal" id="notaFinal" class="form-control" disabled />
                            @* <span asp-validation-for="CuartoCorte" class="text-danger"></span> *@
                        </div>
						</div>
                    
					</div>

                
                    <br />
                    <!-- Botones -->
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Guardar
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Volver
                        </a>
                    </div>

        </form>
        </div>
    </div>
</div>
@* </div> *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <script src="~/seewtalert/sweetalert.all.min.js"></script>
    <script src="~/seewtalert/sweetalertstyle.js"></script>
    <link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" />

    <script>
        $("#AlumnoNombre").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://localhost:7008/api/Alumnos/buscar",
                    data: { q: request.term },
                    success: function (data) {
                         console.log("Respuesta API:", data); // 👈 debug
                        response($.map(data, function (item) {
                            return {
                                label: item.nombreCompleto,
                                value: item.nombreCompleto,
                                id: item.id
                            };
                        }));
                    }
                });
            },
            minLength: 2, // empieza a buscar desde 2 letras
            select: function (event, ui) {
                $("#IdAlumno").val(ui.item.id); // Guardamos el ID del alumno
            }
        });
    
        $(function () {
            function calcularNotaFinal() {
                let acu1= parseInt($("#acumulado1").val());
                let acu2=parseInt($("#acumulado2").val());
                let acu3=parseInt($("#acumulado3").val());
                let acu4=parseInt($("#acumulado4").val());

                let exam1=parseInt($("#examen1").val());
                let exam2=parseInt($("#examen2").val());
                let exam3=parseInt($("#examen3").val());
                let exam4=parseInt($("#examen4").val());

                let pc1=(acu1 + exam1);
                
                let pc2=acu2 + exam2;
                let pc3=acu3 + exam3;
                let pc4=acu4 + exam4;
                $("#primerCorte").val(pc1.toFixed(1));
                 $("#segundoCorte").val(pc2.toFixed(1));
                $("#tercerCorte").val(pc3.toFixed(1));
                $("#cuartoCorte").val(pc4.toFixed(1));
                let t1 = parseFloat($("#primerCorte").val()) || 0;
                let t2 = parseFloat($("#segundoCorte").val()) || 0;
                let t3 =parseFloat($("#tercerCorte").val()) || 0;
                let t4 =parseFloat($("#cuartoCorte").val()) || 0;


                
                // Aquí defines la fórmula de la nota final
                // Ejemplo: promedio simple
                let notaFinal = (t1 + t2  + t3 + t4) /4;

                $("#notaFinal").val(notaFinal.toFixed(2));

            }
            //$("#","#segundoCorte","#tercerCorte, #cuartoCorte").on("input", calcularNotaFinal);
            // Recalcular cada vez que cambie un valor
            $("#primerCorte,#segundoCorte,#tercerCorte, #cuartoCorte").on("input", calcularNotaFinal);
        });
       
    
               function msg(mensaje){
                   swal.fire({
                           title:'Warning',
                           text: mensaje,
                           icon: 'warning',
                           showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar' // corregido el error tipográfico
                       });}

               function msgconfirm(mensaje) {
                    Swal.fire({
                        title: 'Información',
                        text: mensaje,
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar'
                    });
                }

   

    </script>
   
@if (TempData["Mensaje"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
               Swal.fire({
                       title: '@(TempData["Tipo"]?.ToString() == "info" ? "Información" : "Warning")',
                   text: '@TempData["Mensaje"]',
                       icon: '@(TempData["Tipo"]?.ToString() == "info" ? "info" : "warning")',
                   confirmButtonText: 'Aceptar'
               });
        });
    </script>
}
}
