@model WebColegio.Models.ViewModel.UsuarioViewModel
@{
    // TempData["Mensaje"];
    Layout = null;
}

<div class="container col-sm-8 align-content-center" style="padding-top:10px">
    <div class="card shadow-lg border-0 rounded-5">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi-person-circle"></i> Inicio de Sesión</h4>
        </div>
        <div class="card-body ">
            <form asp-action="Login" method="post" enctype="multipart/form-data">
                <div class="row align-content-center">
                    <div class="col-md-6 acontent-center">
                        <div class="form-group">
                            <label asp-for="usuario.NombreUsuario">Usuario</label>
                            <input asp-for="usuario.NombreUsuario" class="form-control" placeholder="Cedula" />
                            <span asp-validation-for="usuario.NombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="usuario.Password" class="control-label">Contraseña</label>
                            <input asp-for="usuario.Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="usuario.Password" class="text-danger"></span>
                        </div>

                        @*  <div>
                            <input for="RememberMe" type="checkbox" />
                            <label name="RememberMe">Recordarme</label>
                        </div> *@
                        <div>
                            <a class="btn-light btn-link rounded" asp-action="CambiarPassword" asp-controller="Login" asp-route-Login="@Model.usuario"> Restablecer Contraseña</a>
                        </div>
                        <br />
                    </div>
                    @* <div class="col-md-4 text-end">
                        <div class="form-group">
                            <img src="~/imagen/history nic/mapaporregion.png" width="85%" />
                        </div>
                    </div> *@
                </div>
                <!-- Botones -->
                <div class="col-12 text-start">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-person-lock"></i> Iniciar Sesión
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
@* <link href="~/css/paginacion.css" rel="stylesheet" />
<script src="~/jquery/jquery.min.js"></script>
<link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" />

<link href="~/DataTables/datatables.min.css" rel="stylesheet">
<script src="~/DataTables/datatables.min.js"></script>

<script src="~/seewtalert/sweetalert.all.min.js"></script>

<script src="~/seewtalert/sweetalertstyle.js"></script>
<link href="~/seewtalert/sweetalert.min.css" rel="stylesheet" /> *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
@if (TempData["Mensaje"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: '@(TempData["Tipo"]?.ToString() == "success" ? "Éxito" :
         TempData["Tipo"]?.ToString() == "warning" ? "Atención" :
         "Información")',
                text: '@TempData["Mensaje"]',
                icon: '@TempData["Tipo"]',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}
}

