body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.titulo {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitulo {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 4px;
    font-size: 11px;
}

th {
    background: #f0f0f0;
    text-align: center;
}
.totalDetalleDinero {
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}
.totalDetalleEfectivo {
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}
.totalEfectivo {
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

.totalesLetras{
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.firma {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

    .firma div {
        width: 45%;
    }

@media print {
    .no-print {
        display: none;
    }
}
    .totalc {
        border-top: none;
        border-left: none;
        border-right: none;
        
    }
.cantidadc {
    border-top: none;
    border-left: none;
    border-right: none;
}
.totald {
    border-top: none;
    border-left: none;
    border-right: none;
}

.cantidadd {
    border-top: none;
    border-left: none;
    border-right: none;
}
#totalGeneralDolares {
    
    border-top: none;
    border-left: none;
    border-right: none;
}
#totalGeneralCordobas {
    
    border-top: none;
    border-left: none;
    border-right: none;
}
#EquivalenteCordoba {
    
    border-top: none;
    border-left: none;
    border-right: none;
}
.cantidadcambio {
    
    border-top: none;
    border-left: none;
    border-right: none;
}

input {
    width: auto;
}
    td{
        text-align:center;
    }
td {
    border: none;
}