/* ===== CONTENEDOR GENERAL ===== */
.container {
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    
    /*border: 2px solid #000;*/
}

/* ===== TITULO ===== */
h5, h6 {
    color: #003366;
    font-weight: bold;
    text-transform: uppercase;
}
h5 {
    background: #e6e6e6;
    border: 1px solid #000;
    padding: 5px 10px;
}

hr {
    border-top: 2px solid #000;
}

/* ===== FIELDSET ESTILO FORMULARIO ===== */
/*fieldset {
    border: 2px solid #000 !important;
    padding: 15px;
}*/

legend {
    font-size: 14px;
    font-weight: bold;
    color: #003366;
    background: #e6e6e6;
    border: 1px solid #000;
    padding: 5px 10px;
}

/* ===== FILAS TIPO TABLA ===== */
.row {
    margin: 0;
}

    .row > div {
        border: 1px solid #000;
        padding: 6px 8px;
        font-size: 14px;
    }

    /* Quitar doble borde */
    .row + .row > div {
        border-top: none;
    }

/* ===== ETIQUETAS ===== */
strong {
    color: #003366;
}

/* ===== ESPACIADO ===== */
.mb-2 {
    margin-bottom: 0 !important;
}
p{
    text-align:justify;
}
span{
    text-align:center;
}

/* ===== IMPRESIÓN ===== */
@media print {
    body {
        background: white;
    }

    .container {
        border: none;
        max-width: 100%;
    }

    legend {
        background: #e6e6e6 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.fila-form {
    margin: 0;
}

.columna-izquierda,
.columna-derecha {
    border: 1px solid #000;
    padding: 0;
}

.columna-derecha {
    border-left: none;
}

/* Dirección */
.columna-izquierda .etiqueta {
    background: #f2f2f2;
    font-weight: bold;
    color: #003366;
    padding: 6px 8px;
    border-bottom: 1px solid #000;
}

.columna-izquierda .valor {
    padding: 6px 8px;
}

/* Peso y Talla */
.fila-interna {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #000;
}

    .fila-interna:last-child {
        border-bottom: none;
    }

    .fila-interna .etiqueta {
        white-space: nowrap; /* evita salto de línea */
        background: #f2f2f2;
        font-weight: bold;
        color: #003366;
        padding: 6px 8px;
        border-right: 1px solid #000;
    }

    .fila-interna .valor {
        padding: 6px 8px;
    }
/* Botón imprimir */
.print-button {
    margin-top: 15px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

@media print {
    .no-print {
        display: none;
    }
}