@import url('https://rsms.me/inter/inter-ui.css');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter UI', sans-serif;
    background-image: url('../image/fondoinicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
    
}

/* CONTENEDOR PRINCIPAL */
.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* LOGIN */
.login_container {
    width: 90%;
    max-width: 420px;
    opacity:0.9;
}

/* CAJA */
.right {
    background: #5c76e0;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0,0,0,.25);
   place-content:center;
}

/* LOGO */
.logo {
    width: 90px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 20px;
}

/* TITULO */
.login {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* FORMULARIO */
.form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* BOTON */
#submit {
    margin-top: 25px;
    cursor: pointer;
    background: #ffffff;
    font-weight: bold;
}

    #submit:hover {
        background: #ecea6b;
    }

/* RESPONSIVE EXTRA */
@media (max-width: 480px) {
    .right {
        padding: 1.5rem;
    }

    .login {
        font-size: 22px;
    }
}
