@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background: #2D2F36;
}

::-webkit-selection {
    background: #2D2F36;
}

::-moz-selection {
    background: #2D2F36;
}

body {
    background: black;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    background-image: url('../image/fondoinicio.jpg');
    width: 130%;
    background-repeat: no-repeat;
    scrollbar-width:revert;
    background-size:150%;
    
   
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    margin-bottom: -10px;
    margin-left: 120px;
    border-radius: 20px;
    
}

.page {
    background: #e2e2e5;
   
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}
.right{
    border-radius:30px;
}



@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.login_container {
    display: flex;
    height: 320px;
    margin: 100px auto;
    width: 640px;
    position:center;
}

@media (max-width: 767px) {
    .login_container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}

.left {
    /*background: white;*/
    /*height: calc(100% - 40px);*/
    top: 10px;
    position: relative;
    width: 50%;
}

@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}

.login {
    padding-top:40px;
    font-size: 25px;
    font-weight: 800;
    margin: -25px 40px 40px;
    text-align:center;
    
    /*opacity:0.4;*/
}

.eula {
    color: black;
    font-size: 20px;
    line-height: 1.5;
    align-content:center;    
    margin: 10px;
}

.right {
    background: #5c76e0;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #000000;
    position: relative;
    width: 50%;
    height:150%;
    opacity: 0.9;
}

@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.bodyuser{

}

.form {
    margin: 40px;
    position: absolute;
}

label {
    color: white;
    display: block;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    /*background: transparent;*/
    border: 0;
    color: black;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
input:hover {
    border: solid;
    border-color: white;
    /*border-radius: 30px;*/
    color: black;
}

    input::-moz-focus-inner {
        border: 0;
    }

#submit {
    color: black;
    margin-top: 40px;
    transition: color 300ms;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    #submit:hover {
        border: solid;
        border-color: blue;
        border-radius: 30px;
        color: black;
    }

    #submit:focus {
        color: #000000;
    }

    #submit:active {
        color: #000000;
    }
